.container-crypt{
  display:flex ;
  justify-content: center;
  flex-wrap: wrap;
}

.input-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: 10px;
}
.btn{
padding-left: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 50%;
margin: 10px;
color: grey;
}
.result-display{
  font-weight:bold;
  font-size: medium   ;
}
.select-currency{
  padding-left: 10px;
  color: black;
}
.select-cryptotype{
  padding-left: 10px;
  color: black;
}
.amount-input{
  border-radius: 8px;
  height: 41px;
  padding: 0%;
  display: flex;
}
