.container {
    /* max-width: 1140px; */
    margin: auto;
}

/* .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    font-weight: 700;
} */

.coin-name {
    margin-left: -4rem;
}

.coin-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
}

/* .coin-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #26272b;
    box-sizing: border-box;
    width: 20%;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    flex-wrap: wrap;
  } */

/* .coin-row {
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content:center;
background-color: #26272b;
box-shadow: 0px 0px 12px #18191b;
border-radius: 8px;
margin: 2rem 1rem;
width:fit-content;


} */

.elements-inside-card:hover {
    transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer;
}

img {
    height: 40px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.elements-inside-card{
    display: flex;
    justify-content: center;
    align-items: center;
    float: inline-start;
    flex-direction: column;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    width:22.7%;
    height:40%;
}


@media screen and (max-width: 720px) {
    .hide-mobile {
        display: none;
    }
}
.coin-rows , p {
    padding: 10px;
}